{% extends 'sidebar.html.twig' %}

{% block content %}
    <input type="hidden" name="path_view_info_ticket" value="{{ path('get_details') }}">

    <h1>Lista de Tickets</h1>


    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSearch"
            aria-expanded="false" aria-controls="collapseSearch">
        Filtrar tickets <i class="fas fa-sort-down"></i>
    </button>
    <!-- form complex example -->
    <div id="collapseSearch" class="mt-4 bg-white p-3 collapse">
        <form class="form-row" method="get" action="{{ path('tickets') }}">
            <div class="col-sm-4 pb-3">
                <label for="employ">Empleado</label>
                <select class="form-control chosen-select" name="employee">
                    <option value="">Selecciona un empleado</option>
                    {% for user in data_select_filters.users %}
                        {% if filters is not empty and filters.id_user == user.getId() %}
                                <option value="{{ user.getId() }}" selected>{{ user.getUsername() }}</option>
                            {% else %}
                                <option value="{{ user.getId() }}">{{ user.getUsername() }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-4 pb-3">
                <label for="client">Cliente</label>
                <select class="form-control chosen-select" name="client">
                    <option value="">Selecciona un cliente</option>
                    {% for client in data_select_filters.clients %}
                        {% if filters is not empty and filters.id_client == client.getId() %}
                            <option value="{{ client.getId() }}" selected>{{ client.__toString() }}</option>
                        {% else %}
                            <option value="{{ client.getId() }}">{{ client.__toString() }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-4 pb-3">
                <label for="date_sale">Fecha de venta</label>
                <input type="date" class="form-control" name="date" value="{{ filters is not empty ? filters.date_sale }}">
            </div>
            <button class="btn btn-primary" type="submit">Filtrar</button>
        </form>
    </div>

    <table id="table_ticketssss" class="table table_searcheable mt-3">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Empleado</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha de venta</th>
            <th scope="col" colspan="2">Ver detalles</th>
        </tr>
        </thead>
        <tbody>
        {% for t in tickets %}
            <tr>
                <th>{{ t.id }}</th>
                <td>{{ t.getIdUser().getUserName() }}</td>
                <td>{{ t.getIdClient() is not empty ? t.getIdClient().__toString()  : 'Sin cliente asociado' }}</td>
                <td>{{ t.getDateSale()|date('d/m/Y') }}</td>
                <td colspan="2">
                    <a href="#" class="btn btn-dark view_details" title="Ver detalles del ticket"
                       data-id_ticket="{{ t.id }}" data-toggle="modal" data-target="#dataTicket{{ t.id }}">
                        <i class="fas fa-info-circle"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Modals -->
    {% for t in tickets %}
        <div class="modal fade" id="dataTicket{{ t.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Datos del Ticket</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Producto/Tratamiento</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for detail in t.getTicketDetails() %}
                                <tr>
                                    {% if detail.getIdProduct() is not null %}
                                        <td>{{ detail.getIdProduct().name }}</td>
                                    {% else %}
                                        <td>{{ detail.getIdTreatment().name }}</td>
                                    {% endif %}
                                    <td>{{ detail.getQuantity() }}</td>
                                    <td>{{ detail.getPrice() }} €</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="swal-button swal-button--confirm" data-dismiss="modal">Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if pagination.range|length > 1 %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    {% if filters is empty %}
                        <a class="page-link" href="{{ path('tickets', {'page' : pagination.previous}) }}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    {% else %}
                        <a class="page-link"
                           href="{{ path('tickets', {'page' : pagination.previous}) }}?employee={{ filters.id_user }}&client={{ filters.id_client }}&date={{ filters.date_sale }}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    {% endif %}
                </li>
                {% for pag in pagination.range %}
                    {% if pagination.actual == pag %}
                        {% if filters is empty %}
                            <li class="page-item active"><a class="page-link"
                                                            href="{{ path('tickets', {'page' : pag}) }}">{{ pag }}</a>
                            </li>
                        {% else %}
                            <li class="page-item active"><a class="page-link"
                                                            href="{{ path('tickets', {'page' : pag}) }}?employee={{ filters.id_user }}&client={{ filters.id_client }}&date={{ filters.date_sale }}">{{ pag }}</a>
                            </li>
                        {% endif %}
                    {% else %}
                        {% if filters is empty %}
                            <li class="page-item"><a class="page-link"
                                                     href="{{ path('tickets', {'page' : pag}) }}">{{ pag }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link"
                                                     href="{{ path('tickets', {'page' : pag}) }}?employee={{ filters.id_user }}&client={{ filters.id_client }}&date={{ filters.date_sale }}">{{ pag }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if filters is empty %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('tickets', {'page' : pagination.next}) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ path('tickets', {'page' : pagination.next}) }}?employee={{ filters.id_user }}&client={{ filters.id_client }}&date={{ filters.date_sale }}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.chosen-select').chosen();
        });
    </script>
{% endblock %}
