{% trans_default_domain 'FOSUserBundle' %}
{% extends 'sidebar.html.twig' %}

{% block content %}

    <div class="card rounded">
        <div class="card-header card-header-rose card-header-icon d-flex align-items-center bg-white">
            <div class="card-icon w-25">
                <h4 class="card-title m-0 ml-2">Añadir Empleado</h4>
            </div>
        </div>
        <div class="card-body">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.plainPassword) }}
            </div>
            <div class="form-group">
                {{ form_label(form.image) }}
                {{ form_widget(form.image) }}
            </div>
            <div class="form-group">
                {{ form_label(form.roles) }}
                {{ form_widget(form.roles) }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-submit btn-lg float-right shadow-sm">Registrar
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <a class="btn btn-dark mt-2" href="{{ path('employees') }}">Volver</a>

{% endblock %}