{% extends 'sidebar.html.twig' %}
{% block content %}
    <h1>Editar producto</h1>

    {% if confirmed is defined and confirmed is not empty %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Producto editado!</strong> Tu producto se ha editado correctamente
        </div>
    {% endif %}

    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card border-secondary">
                            <div class="card-header">
                                <h3 class="mb-0 my-2">Editar producto</h3>
                            </div>
                            <div class="card-body">
                                {{ form_start(form, {'action': path('edit-product'), 'method': 'POST'}) }}
                                <div class="form-group">
                                    {{ form_label(form.bar_code) }}
                                    {{ form_widget(form.bar_code) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.name) }}
                                    {{ form_widget(form.name) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.price) }}
                                    {{ form_widget(form.price) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.description) }}
                                    {{ form_widget(form.description) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.id_provider) }}
                                    {{ form_widget(form.id_provider) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.image) }}
                                    {{ form_widget(form.image) }}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.save) }}
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->

            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>
    <!--/container-->
    <a class="btn btn-dark" href="{{ path('products') }}">Volver</a>
{% endblock %}