{% extends 'sidebar.html.twig' %}

{% block content %}
<h1>Lista de productos</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Precio</th>
            <th scope="col" colspan="2">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for p in products %}
            <tr>
                <th scope="row">imagen</th>
                <td>{{ p.name }}</td>
                <td>{{ p.description }}</td>
                <td>{{ p.id_provider.name }}</td>
                <td>{{ p.price }}</td>
                <td colspan="2">
                    <button type="button" class="btn btn-warning">Editar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-dark" href="">Añadir Producto</a>

    {#{{ dump(products) }}#}
{% endblock %}