{% extends 'sidebar.html.twig' %}
{% block content %}

    {% if confirmed is defined and confirmed is not empty %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Empleado!</strong> El empleado se ha editado correctamente
        </div>
    {% endif %}

    <div class="card rounded">
        <div class="card-header card-header-rose card-header-icon d-flex align-items-center bg-white">
            <div class="card-icon w-25">
                <h4 class="card-title m-0 ml-2">Editar Empleado</h4>
            </div>
        </div>
        <div class="card-body">
            {{ form_start(form, {'action': path('edit-user'), 'method': 'POST'}) }}
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.plainPassword) }}
            </div>
            <div class="form-group">
                {{ form_label(form.image) }}
                {{ form_widget(form.image) }}
            </div>
            <div class="form-group">
                {{ form_label(form.roles) }}
                {{ form_widget(form.roles) }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-submit btn-lg float-right shadow-sm">Actualizar</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <a class="btn btn-dark mt-2" href="{{ path('employees') }}">Volver</a>
{% endblock %}