{% extends 'sidebar.html.twig' %}

{% block content %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col" colspan="2">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% set cont = 1 %}
        {% for user in users %}
            <tr>
                <th scope="row">{{ cont }}</th>
                <td>
                    <div class="image-perfil">
                        {% if user.image is not empty %}
                            <img alt="imagen perfil" src="{{ asset('uploads/img/user/' ~ user.image) }}">
                        {% else %}
                            <img alt="imagen perfil" src="{{ asset('uploads/img/user/user.png') }}">
                        {% endif %}
                    </div>
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td colspan="2">
                    <a href="{{ path('edit-user', { 'id' : user.id }) }}" class="btn btn-warning">Editar</a>
                    <a href="{{ path('delete-user', { 'id': user.id }) }}" class="btn btn-danger message-confirm" data-confirm="¿Estás seguro de borrar el empleado?" data-confirmed="El empleado se ha borrado correctamente!">
                        Eliminar
                    </a>
                </td>
            </tr>
            {% set cont = cont + 1 %}
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-dark" href="{{ path('fos_user_registration_register') }}">Añadir empleado</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/confirm.js') }}"></script>
{% endblock %}