{% extends 'sidebar.html.twig' %}

{% block content %}
<h1>Lista de Proveedores</h1>

    {% if confirmed is defined and confirmed is not empty %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Proveedor!</strong> Tu proveedor se ha insertado correctamente
        </div>
    {% endif %}

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Email</th>
            <th scope="col">Localidad</th>
            <th scope="col">CP</th>
            <th scope="col">Dirección</th>
            <th scope="col" colspan="2">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for p in providers %}
            <tr>
                <th>{{ p.name }}</th>
                <td>{{ p.telefono }}</td>
                <td>{{ p.email }}</td>
                <td>{{ p.town }}</td>
                <td>{{ p.postcode }}</td>
                <td>{{ p.address }}</td>
                <td colspan="2">
                    <a href="{{ path('edit-product', {'id' : p.id}) }}" class="btn btn-warning">Editar</a>
                    <a href="{{ path('delete-product', {'id' : p.id}) }}" class="btn btn-danger message-confirm" data-confirm="¿Estás seguro de borrar el producto?" data-confirmed="El producto se ha borrado correctamente!">
                        Eliminar
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-dark" href="{{ path('create-products') }}">Añadir Proveedor</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/confirm.js') }}"></script>
{% endblock %}