{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}


{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="wrapper-login">
    <form class="form-signin text-center" action="{{ path("fos_user_security_check") }}" method="post">
        <img class="mb-4" src="{{ asset('assets/img/bootstrap-solid.svg') }}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Inicia sesión</h1>
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}


        <label for="username" class="sr-only">Nombre de usuario o email</label>
        <input type="text" id="username" class="form-control" placeholder="Email address" name="_username"
               value="{{ last_username }}" required="required" autocomplete="username" autofocus>

        <label for="password" class="sr-only">Contraseña</label>
        <input type="password" id="password" class="form-control" placeholder="Password" name="_password"
               required="required" autocomplete="current-password"/>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/> Remember me
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
    </form>
</div>
{% endblock %}