{% extends 'sidebar.html.twig' %}
{% block content %}

    {% if confirmed is defined and confirmed is not empty %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Cliente creado!</strong> El cliente se ha insertado correctamente
        </div>
    {% endif %}

    <div class="card rounded">
        <div class="card-header card-header-rose card-header-icon d-flex align-items-center bg-white">
            <div class="card-icon w-25">
                <h4 class="card-title m-0 ml-2">Añadir cliente</h4>
            </div>
        </div>
        <div class="card-body">
            {{ form_start(form, {'action': path('create-client'), 'method': 'POST'}) }}
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div class="form-group">
                {{ form_label(form.surname1) }}
                {{ form_widget(form.surname1) }}
            </div>
            <div class="form-group">
                {{ form_label(form.surname2) }}
                {{ form_widget(form.surname2) }}
            </div>
            <div class="form-group">
                {{ form_label(form.dni) }}
                {{ form_widget(form.dni) }}
            </div>
            <div class="form-group">
                {{ form_label(form.province) }}
                {{ form_widget(form.province) }}
            </div>
            <div class="form-group">
                {{ form_label(form.town) }}
                {{ form_widget(form.town) }}
            </div>
            <div class="form-group">
                {{ form_label(form.postcode) }}
                {{ form_widget(form.postcode) }}
            </div>
            <div class="form-group">
                {{ form_label(form.street) }}
                {{ form_widget(form.street) }}
            </div>
            <div class="form-group">
                {{ form_label(form.num_street) }}
                {{ form_widget(form.num_street) }}
            </div>
            <div class="form-group">
                {{ form_label(form.birthdate) }}
                {{ form_widget(form.birthdate) }}
            </div>
            <div class="form-group">
                {{ form_label(form.telephone) }}
                {{ form_widget(form.telephone) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.save) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <a class="btn btn-dark mt-2" href="{{ path('clients') }}">Volver</a>
{% endblock %}