{% extends 'sidebar.html.twig' %}

{% block content %}

    <input type="hidden" name="path_assets" value="{{ asset('uploads') }}">
    <input type="hidden" name="path_manage_shopping_cart" value="{{ path('manage_cart') }}">
    <input type="hidden" name="path_check_in" value="{{ path('check_in') }}">
    <input type="hidden" name="path_save_details" value="{{ path('save_details') }}">
    <input type="hidden" name="get_shopping_cart" value="{{ path('get_shopping_cart') }}">

    <input type="hidden" name="type_ticket" value="product">

    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="min-h-400">
                    <table id="table_sale" class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">PVP/U</th>
                            <th scope="col">Subtotal</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if shoppingCart is not empty %}
                            {% for key,type in shoppingCart %}
                                {% for data in type %}
                                    <tr data-type="{{ key }}" data-id_product="{{ data.item.id }}">
                                        <td class="td_name" title="{{ data.item.name }}">
                                            <span>{{ data.item.name }}</span></td>
                                        <td class="td_cant">{{ data.cantidad }}</td>
                                        <td class="td_price">{{ data.item.price|number_format(2, '.', ',') }}</td>
                                        <td class="td_total_price">{{ (data.item.price * data.cantidad)|number_format(2, '.', ',') }}</td>
                                        <td>
                                            <button class="sum action"><i class="fas fa-plus-square"></i></button>
                                            <button class="minus action"><i class="fas fa-minus-square"></i></button>
                                            <button class="rm action"><i class="fas fa-window-close"></i></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <table id="table_total" class="table">
                    <tr class="bg-dark text-white">
                        <td>Total artículos</td>
                        <td class="total_cant_articles">{{ cant }}</td>
                        <td></td>
                        <td class="total_price_articles">{{ totalPrice|number_format(2, '.', ',') }} €</td>
                    </tr>
                </table>
                <button id="reset_ticket" type="button" class="btn btn-danger">Cancelar</button>
                <button id="check_in" type="button" class="btn btn-success">Facturar</button>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" id="load_products" href="#">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="load_treatments" href="#">Tratamientos</a>
                            </li>
                            <li class="ml-auto">
                                <button id="bt-list" type="button" class="btn btn-dark active">
                                    <i class="fas fa-list-ul"></i>
                                </button>
                                <button id="bt-grid" type="button" class="btn btn-dark">
                                    <i class="fas fa-th-large"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <input type="search" name="search-tpv" class="form-control" placeholder="Buscar...">
                    </div>
                </div>
                <div id="list-view" class="row">
                    <div class="col-12 mt-2">
                        <div class="list-group">
                            {# Se carga por javascript la lista de productos #}
                        </div>
                    </div>
                </div>
                <div id="grid-view" class="row d-none">
                    {# Se carga por javascript la lista de productos #}
                </div>
                <div class="row">
                    <div id="pagination-products" class="col-12 mt-2" data-path="{{ path('get-data-products') }}"
                         data-path_treatments="{{ path('get-data-treatments') }}">
                        {# Se carga por javascript la paginación #}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6 offset-md-6 text-center">
                <div class="calculator">
                    <div class="calc-row">
                        <div class="screen">0123456789</div>
                    </div>

                    <div class="calc-row">
                        <div class="button button_calculator">C</div>
                        <div class="button button_calculator">CE</div>
                        <div class="button button_calculator backspace">back</div>
                        <div class="button button_calculator plus-minus">+/-</div>
                        <div class="button button_calculator">%</div>
                    </div>

                    <div class="calc-row">
                        <div class="button button_calculator">7</div>
                        <div class="button button_calculator">8</div>
                        <div class="button button_calculator">9</div>
                        <div class="button button_calculator divice">/</div>
                        <div class="button button_calculator root">sqrt</div>
                    </div>

                    <div class="calc-row">
                        <div class="button button_calculator">4</div>
                        <div class="button button_calculator">5</div>
                        <div class="button button_calculator">6</div>
                        <div class="button button_calculator multiply">*</div>
                        <div class="button button_calculator inverse">1/x</div>
                    </div>

                    <div class="calc-row">
                        <div class="button button_calculator">1</div>
                        <div class="button button_calculator">2</div>
                        <div class="button button_calculator">3</div>
                        <div class="button button_calculator">-</div>
                        <div class="button button_calculator pi">pi</div>
                    </div>

                    <div class="calc-row">
                        <div class="button zero button_calculator">0</div>
                        <div class="button button_calculator decimal">.</div>
                        <div class="button button_calculator">+</div>
                        <div class="button  button_calculator equal">=</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/tpv.js') }}"></script>
{% endblock %}